<div class="top-space">
    <div id="bar" class="progress" data-ping-time="1000">
        <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 0%;">
            0%
        </div>
    </div>
</div>
<script type="text/javascript">
  <%= (render partial:'searching.js') %>
</script>
