<p id="notice"><%= notice %></p>

<p>
  <strong>Percent:</strong>
  <%= @progress_status.percent %>
</p>

<%= link_to 'Edit', edit_progress_status_path(@progress_status) %> |
<%= link_to 'Back', progress_statuses_path %>
