// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flight-description {
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}
.flight-description::before,
.flight-description::after {
    content: " ";
    display: table;
}
.flight-description::after {
    clear: both;
}
